* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.quiz-container {
    background: white;
    color: #222;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: #6c4cff;
    margin-bottom: 25px;
}

#question {
    margin-bottom: 20px;
}

.option {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: 2px solid #ddd;
    border-radius: 8px;
    background: white;

    cursor: pointer;
    text-align: left;
}

.option:hover {
    background: #eee;
}

.correct {
    background: #7bed9f;
}

.wrong {
    background: #ff7675;
}

#nextBtn,
#result button {
    background: #6c4cff;
    color: white;
    border: none;

    padding: 12px 25px;
    border-radius: 8px;

    cursor: pointer;
    margin-top: 15px;
}

#nextBtn:hover,
#result button:hover {
    background: #5435d6;
}

.hide {
    display: none;
}

#result {
    text-align: center;
}